/**
 
 @Name: Fly社区
 @Author: 贤心
 @Site: fly.layui.com
 
 */


/* 全局 */
html,body{overflow-x: hidden;}
html body{margin-top: 61px;}
html{background-color: #F2F2F2;}
/* 辅助 */
a:hover{color: #009688; transition: all .3s;}
pre{padding: 10px 15px; margin: 10px 0; font-size: 12px; border-left: 6px solid #009688;  background-color: #f8f8f8; font-family: Courier New; overflow: auto;}
.fly-home {
    position: relative;
    padding: 30px 0 30px;
    text-align: center;
}
.layui-container{padding: 0;}
.fly-main{width: 1079px; min-height: 600px; margin: 0 auto 15px;}
.layui-badge{height: 20px; line-height: 20px; border-radius: 2px;}

.fly-link{color: #01AAED;}
.fly-link:hover{color: #5FB878;}
.fly-grey{color: #999;}

.fly-msg, .fly-error{padding: 10px 15px; line-height: 24px;}
.fly-msg{background-color:#F8F8F8; color:#666;}
.fly-msg a{color:#4F99CF}
 
.layui-this{font-size:18px;}
.fly-marginTop{margin-top: 15px;}
.fly-mid{display: inline-block; height: 10px; width: 1px; margin: 0 10px; vertical-align: middle; background-color: #e2e2e2;}
.fly-right{position: absolute; right: 15px; top: 0;}

/* 过度 */
.fly-loading{position: absolute; top: 50%; left: 50%; margin: -12px 0 0 -15px; font-size: 30px; color: #c2c2c2;}

/* 头像 */
.fly-avatar{position: absolute; left: 15px; top: 15px;}
.fly-avatar img{display: block; width: 45px; height: 45px; margin: 0; border-radius: 2px;}
 

/* 头部 */
.fly-header{position: fixed; left: 0; top: 0; z-index: 10000; width: 100%; height: 60px; border-bottom: 1px solid #404553; border-right: 1px solid #404553; border-radius: 0;}
.fly-logo{position: absolute; left: 15px; top: 11px;color:#fff}
 

/* 底部 */
.fly-footer {margin: 50px 0 0; padding: 20px 0 30px; line-height: 30px; text-align: center; color: rgba(255,255,255,0.5); border-top: 1px solid #e2e2e2;background:#393D49;}
.fly-footer a{padding:0 6px; font-weight: 300; color: rgba(255,255,255,0.5);}
.fly-footer a:hover{color: #777;}
 

/* 面板 */
.fly-panel{margin-bottom: 15px; border-radius: 2px; background-color: #fff; box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);}
.fly-panel[pad20]{padding: 20px;}
.fly-panel-title{position: relative; height: 50px; line-height: 50px; padding: 0 15px; border-bottom: 1px dotted #E9E9E9; color: #333; border-radius: 2px 2px 0 0; font-size: 14px;}
.fly-panel-main{padding: 10px 15px;}

 

/* 分页 */
.laypage-main,
.laypage-main *{display:inline-block; *display:inline; *zoom:1; vertical-align:top;}
.laypage-main{margin: 20px 0; border: 1px solid #009E94; border-right: none; border-bottom: none; font-size: 0;}
.laypage-main *{padding: 0 20px; line-height: 36px; border-right: 1px solid #009E94; border-bottom: 1px solid #009E94; font-size: 14px;}
.laypage-main .laypage-curr{background-color:#009E94; color:#fff;}
 
/* 列表 */
.fly-list li{position: relative; height: 45px; line-height: 22px; padding: 15px; border-bottom: 1px dotted #e2e2e2;}
.fly-list li:last-child{border-bottom: none;}
.fly-list li h2,
.fly-list li h2 a,
.fly-list-info{white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.fly-list li h2{height: 26px; font-size: 0;}
.fly-list li h2 a{display: inline-block; max-width: 80%; padding-right: 10px; font-size: 16px;}
.fly-list li h2 .layui-badge{top: -2px; height: 16px; line-height: 16px; padding: 0 5px; margin-right: 10px; font-size: 12px; border: 1px solid #5FB878; background: none; color: #5FB878;}

.fly-list-info{position: relative; font-size: 13px; color: #999;}
.fly-list-info a[link]{color: #999;}
.fly-list-info a[link]:hover{color: #5FB878;}
.fly-list-info .icon-renzheng{position: relative; top: 1px; margin-right: 3px;}
.fly-list-info .fly-badge-vip{position: relative; margin-left: 2px;}
.fly-list-kiss{color: #FF5722;}
.fly-list-nums{position: absolute; right: 0; top: 0; padding-right: 0!important;}
.fly-list-nums i{position: relative; padding: 0 3px 0 15px;}

.fly-list-badge{position: absolute; right: 15px; top: 15px; font-size: 0;}
.fly-list-badge .layui-badge{margin-left: 5px; border-radius: 2px; font-size: 12px;}
.fly-sns { margin-top: 10px;} 
@media screen and (max-width: 768px) {
	.fly-main{width: 100%;}

  /* 顶边距 */
  .fly-marginTop{margin-top: 0;}

  /* 头部 */
  .fly-header .fly-nav-user li .fly-nav-avatar{padding-right: 15px;}
  .fly-header .fly-nav-user{margin-right: 5px;}

  /* 专栏 */
  .fly-column{height: auto;}
  .fly-column ul{padding: 10px; font-size: 0;}
  .fly-column ul li{float: left; width: 33.33%; height: 36px; line-height: 36px; font-size: 14px; vertical-align: middle; text-align: center; box-sizing: border-box;}
  .fly-column-right{right: 10px;}
  .fly-column ul li.layui-this:after{display: none;}

  /* 页脚 */
  .fly-footer{margin-top: 0; border-top: none;}

  /* 分页 */
  .laypage-main a, .laypage-main span{display: none;}
  .laypage-main .laypage-prev,
  .laypage-main .laypage-curr,
  .laypage-main .laypage-next{display: inline-block;}
  /* 列表 */
  .fly-list li h2 a{max-width: 72%;}
  body .fly-user-main{width: auto;}
  .fly-user-main>.layui-nav{left: -300px; transition: all .3s; -webkit-transition: all .3s;}
  .fly-user-main>.fly-panel-user{width: auto; margin-left: 0; transition: all .3s; -webkit-transition: all .3s;}
  .site-tree-mobile{display: block!important; position: fixed; z-index: 100000; bottom: 20px; left: 10px; width: 50px; height: 50px; line-height: 50px; border-radius: 2px; text-align: center; background-color: rgba(0,0,0,.7); color: #fff;}
  .site-mobile .site-tree-mobile{display: none !important;}
  .site-mobile .fly-user-main>.layui-nav{left: 0;}
  .site-mobile .site-mobile-shade{content: ''; position: fixed; top: 0; bottom: 0; left: 0; right: 0; background-color: rgba(0,0,0,.9); z-index: 999;}
}
